{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": 14
      },
      "debug": true,
      "modules": false
    }
    ]
  ],
  "plugins": [
    "babel-plugin-remove-template-literals-whitespace"
  ],
  "comments": false,
  "env": {
    "production": {
      "plugins": [
        ["transform-remove-console", { "exclude": [ "error", "warn"] }]
      ]
    },
    "test": {
      "plugins": [
        ["transform-remove-console", { "exclude": [ "info", "error", "warn"] }]
      ],
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "14"
          },
          "debug": true,
          "modules": false
        }
        ]
      ]
    }
  }
}
